<div>

  <table class="alpha_table">
    <tr>
      <td align="center" colspan="5"><h1>New Team List</h1></td>
    </tr>
    <% @teams.each_with_index do |students, index| %>
      <tr>
        <td class="left_label">Team <%= index + 1 %>: </td>
        <td><%= students.join(", ") %></td>
      </tr>
    <% end %>
    <tr>
      <td height="80" align="center" colspan="2">
        <div class="green_btn">
        <a href="/teams/make_teams">Make New Teams</a>
        </div>
      </td>
    </tr>
  </table>

</div>