  <table class="alpha_table">
    <tr>
      <td align="center" colspan="5"><h1>Current Team List</h1></td>
    </tr>
    <%# @teams.each_with_index do |team, index| %>
      <tr>
        <td class="left_label">Team <%#= index + 1 %>: </td>
        <td><%#= team %></td>
      </tr>
    <%# end %>
    <tr>
      <td height="80" align="center" colspan="2">
        <div class="green_btn">
        <a href="/teams/make_teams">Make New Teams</a>
        </div>
      </td>
    </tr>
  </table>
