<h1><u>Team List</u></h1>

<div>
  <table>
    <% @final_teams.each_with_index do |team, index| %>
      <tr>
<!-- &nbsp; below is to create an extra space, since extra white space is ignored -->
        <td>Team <%= index + 1 %>: &nbsp;</td>
        <td><font color=red><%= team.join(", ") %></font></td>
      </tr>
    <% end %>
  </table>

</div>

<!--
@final_teams = [ [Nidhi, Scott, MJ] index=0, [Sam, Oz] index=1 ]

Team 1: Nidhi, Scott, MJ
Team 2: Sam, OZ
-->
