<div id="bg_team">

  <table id="team_list">
    <tr>
      <th colspan="2">Current Team List</th>
    </tr>
    <tr>
      <td height="20px"><!-- spacer --></td>
    </tr> 
    <% @final_teams.each_with_index do |team, index| %>
      <tr>
        <td text-align="right">Team <%= index + 1 %>: </td>
        <td><%= team.join(", ") %></td>
      </tr>
    <% end %>
    <tr>
      <td height="20px"><!-- spacer --></td>
    </tr> 
    <tr>
      <td align="center" colspan="2">
        <div id="shuffle">
        <%= link_to 'Shuffle Teams', teams_path %>
        </div>
      </td>
    </tr>
  </table>

</div>

