<h1>Listing teams</h1>

<div>
  <table>
    <% @final_teams.each_with_index do |team, index| %>
      <tr>
<!-- &nbsp; below is to create an extra space, since extra white space is ignored -->
        <td>Team <%= index + 1 %>: &nbsp;</td>
        <td><%= team.join(", ") %></td>
      </tr>
    <% end %>
  </table>

</div>

