<div class="vert-center">
  <table class="alpha_table">
  	<tr>
  	  <td><%= form_tag("/teams/assigned_teams", method: "get") do %>
            <%= label_tag(:num, "how many teams?") %>
  		      <%= text_field_tag(:num) %>
  		      <%= submit_tag("Go") %>
  		  <% end %>
  	  </td>
    </tr>
  </table>
</div>
