<div class="vert-center">
  <div class="alpha_table">
  	<h1>Editing student</h1>

  	<%= render 'form' %>

  	<div class="link">
  	<%= link_to 'Show', @student %> |
  	<%= link_to 'Back', students_path %>
  	</div>
  </div>
</div>
