.centered {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

body {
  color: #FFFDD1;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:900;
  line-height: 18px;
  background: url('bg.jpg')
}

h1 {
  font-size: 24px;
}

p, ol, ul, td {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 45px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

ul li {
  font-size: 12px;
  list-style: square;
}

.alpha_table{
  width:640px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 12px;
  border-style: solid;
  font-size: 16px;
 /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
 /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.5);
 /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


td {
  padding: 4px;
}

tr:nth-of-type(even) {

  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
 /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.4);
 /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

tr:nth-of-type(odd) {

  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
 /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.6);
 /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.link a {
  font-size: 16px;
  color: #DDDDDD;
  text-decoration: none;
}

.green_btn a{
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #078200;
  padding: 14px;
  border-radius: 12px;
}

.left_label{
  color: #AAECFA;
  padding: none;
  text-align: center;
}

.team_list{
  padding-left: 40px
}

#new_btn{
  float: left;
  padding-left: 48px;
}

#shuffle{
  float: left;
  padding-left: 48px;
}

#save_btn{
  float: left;
  padding-left: 48px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.vert-center {
    display: table-cell;
    vertical-align: middle;
}
